---
layout: layout
---

{% assign __ = site.data.languages[site.language] %}
{% include post.html %}

{% if site.liker_id %}
    <div class="like-bottom">
      {% include like-bottom.html %}
    </div>
{% endif %}

{% if page.mathjax %}
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      tags: 'all'
    }
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}
